.card-container {
  display: flex;
  margin: 0 80px;
  border-radius: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  width: 80%;
}

.card {
  color: #f4f4ea;
  width: 250px;
  height: 250px;
  padding: 0px;
  border: 1px solid white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 0.2s;
}

.card h2 {
  font-size: 35px;
  padding: 0;
  margin: 0;
}

.card p {
  font-size: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: auto;
}