/* src/stylefile/Main.css */
.main-page {
  color: #ffffff;
  background: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  color: #ffffff;
  background: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 0 0px;
}

.title h1 {
  font-size: 50px;
  padding-right: 0px;
  margin: 0;
  font-family: "어그로체";
}
