/* src/stylefile/Main.css */
.main-page {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.title-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 50px;
  margin: 30px 100px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 0 40px;
}

.title h1 {
  font-size: 70px;
  padding-right: 0px;
  margin: 0;
}
