.nav-bar {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 0 0px;
}

.nav-bar span {
  margin: 0 40px;
  cursor: pointer;
}

.nav-arrow {
  margin: 40px 50px 0 0;
  font-size: 24px;
  cursor: pointer;
}
