.header {
  height: 60px;
  display: flex;
  background-color: #f1fbfa;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 10px;
}

.header::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px; /* 선의 두께를 설정 */
  background-color: #182e3f; /* 선의 색상을 설정 */
}

.logo {
  width: 80px; /* 로고의 너비를 설정 */
  height: auto;
  margin-left: 100px; /* 비율에 따라 높이를 자동으로 설정 */
  margin-right: 40px; /* 비율에 따라 높이를 자동으로 설정 */
  cursor: pointer;
}

.search-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 50px;
  width: 65%;
  height: 45px;
  background-color: #dbe9e8;
  border: 1px;
  border-radius: 20px;
}

.search-bar {
  outline: none;
  width: 90%;
  height: 100%;
  margin-left: 60px;
  padding: 15px;
  background-color: #dbe9e8;
  border: 0;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 30%;
  font-size: 20px;
  color: #846d6d;
  cursor: pointer;
}

.notification-icon {
  font-size: 24px;
  color: #aaa4a3;
  margin: 0 0 0 20px;
  cursor: pointer;
}

.login-button {
  font-size: 15px;
  padding: 10px 25px;
  margin: 0 20px;
  background-color: #192f40;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
